In [1]:
# Import Dependencies
import numpy as np
import pandas as pd
sdss_dr12 = pd.read_csv('original_csv/SDSS_DR12.csv')
sdss_dr16 = pd.read_csv('original_csv/SDSS_DR16.csv')

In [2]:
sdss_dr16_plus = pd.read_csv('original_csv/SDSS_DR16_PLUS.csv', dtype = object, header=1)
sdss_dr16_plus.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237678877245244171,318.951692400613,9.31514583157475,19.51665,18.50036,17.95667,17.53139,17.32035,7777,301,5,53,819657923239110656,GALAXY,0.1142988,728,52520,10
1,1237668332026986542,217.940001459467,14.6083781640661,19.13548,18.55482,17.95603,17.68272,17.63717,5322,301,3,56,6154252554903769088,QSO,1.80268,5466,56033,304
2,1237664092899115053,129.94822076916,25.213328468992,19.54955,18.19434,17.8322,17.51329,17.47054,4335,301,3,130,2173034979993348096,GALAXY,0.07081252,1930,53347,175
3,1237654604252119048,160.357788413542,3.56788576904581,17.72343,16.6583,16.23667,16.07098,16.02797,2126,301,1,275,649647859372681216,STAR,0.000569611,577,52367,13
4,1237661360769400880,226.001699839166,38.6196988347261,16.605,15.66234,15.39406,15.29443,15.29302,3699,301,2,227,5817649714997514240,STAR,-0.000184329,5167,56066,454

In [3]:
# sdss_dr16_plus = pd.read_csv('original_csv/SDSS_DR16_PLUS.csv', dtype = {'objid': int, 'ra': float, 'dec': float, 'u': float, 'g': float, 'r': float, 'i': float, 'z': float, 'run': int , 'rerun': int, 'camcol': int, 'field': int, 'specobjid': int, 'class': object, 'redshift': float, 'plate': int, 'mjd': int, 'fiberid': int })
# sdss_dr16_plus.head()
# Drop the null rows
sdss_dr12 = sdss_dr12.dropna()
sdss_dr16 = sdss_dr16.dropna()
sdss_dr16_plus = sdss_dr16_plus.dropna()
sdss_dr16_plus[["objid", "ra", "dec", "u", "g", "r", "i", "z", "run", "rerun", "camcol", "field", "redshift", "plate", "mjd", "fiberid"]] = sdss_dr16_plus[["objid", "ra", "dec", "u", "g", "r", "i", "z", "run", "rerun", "camcol", "field", "redshift", "plate", "mjd", "fiberid"]].apply(pd.to_numeric)
sdss_dr16_plus.dtypes

objid          int64
ra           float64
dec          float64
u            float64
g            float64
r            float64
i            float64
z            float64
run            int64
rerun          int64
camcol         int64
field          int64
specobjid     object
class         object
redshift     float64
plate          int64
mjd            int64
fiberid        int64
dtype: object

In [4]:
sdss_dr16_plus.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237678877245244171,318.951692,9.315146,19.51665,18.50036,17.95667,17.53139,17.32035,7777,301,5,53,819657923239110656,GALAXY,0.114299,728,52520,10
1,1237668332026986542,217.940001,14.608378,19.13548,18.55482,17.95603,17.68272,17.63717,5322,301,3,56,6154252554903769088,QSO,1.802680,5466,56033,304
2,1237664092899115053,129.948221,25.213328,19.54955,18.19434,17.83220,17.51329,17.47054,4335,301,3,130,2173034979993348096,GALAXY,0.070813,1930,53347,175
3,1237654604252119048,160.357788,3.567886,17.72343,16.65830,16.23667,16.07098,16.02797,2126,301,1,275,649647859372681216,STAR,0.000570,577,52367,13
4,1237661360769400880,226.001700,38.619699,16.60500,15.66234,15.39406,15.29443,15.29302,3699,301,2,227,5817649714997514240,STAR,-0.000184,5167,56066,454

In [5]:
sdss_dr12.dtypes

objid          int64
ra           float64
dec          float64
u            float64
g            float64
r            float64
i            float64
z            float64
run            int64
rerun          int64
camcol         int64
field          int64
specobjid      int64
class         object
redshift     float64
plate          int64
mjd            int64
fiberid        int64
dtype: object

In [6]:
# Delete repeated rows
sdss_dr12 = sdss_dr12.drop_duplicates(subset=['objid'])
sdss_dr16 = sdss_dr16.drop_duplicates(subset=['objid'])
sdss_dr16_plus = sdss_dr16_plus.drop_duplicates(subset=['objid'])

In [7]:
# Change columns names
sdss_dr12 = sdss_dr12.rename(columns={'objid':'objid_','ra':'ra_','dec':'dec_','u':'u_','g':'g_','r':'r_','i':'i_','z':'z_','run':'run_','rerun':'rerun_','camcol':'camcol_','field':'field_','specobjid':'specobjid_','class':'class_','redshift':'redshift_','plate':'plate_','mjd':'mjd_','fiberid':'fiberid_'})
sdss_dr16 = sdss_dr16.rename(columns={'objid':'objid_','ra':'ra_','dec':'dec_','u':'u_','g':'g_','r':'r_','i':'i_','z':'z_','run':'run_','rerun':'rerun_','camcol':'camcol_','field':'field_','specobjid':'specobjid_','class':'class_','redshift':'redshift_','plate':'plate_','mjd':'mjd_','fiberid':'fiberid_'})
sdss_dr16_plus = sdss_dr16_plus.rename(columns={'objid':'objid_','ra':'ra_','dec':'dec_','u':'u_','g':'g_','r':'r_','i':'i_','z':'z_','run':'run_','rerun':'rerun_','camcol':'camcol_','field':'field_','specobjid':'specobjid_','class':'class_','redshift':'redshift_','plate':'plate_','mjd':'mjd_','fiberid':'fiberid_'})
sdss_dr16_plus.count()

objid_        499989
ra_           499989
dec_          499989
u_            499989
g_            499989
r_            499989
i_            499989
z_            499989
run_          499989
rerun_        499989
camcol_       499989
field_        499989
specobjid_    499989
class_        499989
redshift_     499989
plate_        499989
mjd_          499989
fiberid_      499989
dtype: int64

In [8]:
# Combine DataFrames
frames = [ sdss_dr12, sdss_dr16, sdss_dr16_plus]
sdss_dr_final = pd.concat(frames)

In [9]:
# Delete repeated rows
sdss_dr_final = sdss_dr_final.drop_duplicates(subset=['objid_'])

In [10]:
# Create two DataFrames by separating columns
sdss_dr_photobj = sdss_dr_final[['objid_','ra_','dec_', 'u_', 'g_', 'r_', 'i_', 'z_', 'run_', 'rerun_', 'camcol_', 'field_']]
sdss_dr_specobj = sdss_dr_final[['objid_', 'specobjid_', 'class_', 'redshift_', 'plate_', 'mjd_', 'fiberid_']]
sdss_dr_specobj.head()

,objid_,specobjid_,class_,redshift_,plate_,mjd_,fiberid_
0,1237663228535374206,1869067566828251136,STAR,-0.000220,1660,53230,268
1,1237663228535374382,1869069216095692800,STAR,-0.000008,1660,53230,274
2,1237663228535374435,1869067291950344192,STAR,0.000096,1660,53230,267
3,1237663228535374802,1870200338850539520,STAR,-0.000247,1661,53240,293
4,1237663228535439577,1869072789508483072,STAR,-0.000131,1660,53230,287

In [11]:
# Export DataFrames to csv file
sdss_dr_photobj.to_csv(path_or_buf='Resources/sdss_dr_photobj.csv', index=False)
sdss_dr_specobj.to_csv(path_or_buf='Resources/sdss_dr_specobj.csv', index=False)

In [12]:
# Import dependencies
from sqlalchemy import create_engine
from config import db_password
import time

In [13]:
# Create engine to connect to Database
db_string = f"postgres://postgres:{db_password}@localhost/Final_Project"
engine = create_engine(db_string)

In [14]:
# Import sdss_dr_photobj dataframe to table
import psycopg2
file_dir = '/Users/andreslesmes/Desktop/Data_Analysis_Class/NASA_Project/Resources'
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/sdss_dr_photobj.csv', chunksize=50000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='sdss_dr_photobj', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 50000...Done. 6.740936040878296 total seconds elapsed
importing rows 50000 to 100000...Done. 13.358615159988403 total seconds elapsed
importing rows 100000 to 150000...Done. 19.890199184417725 total seconds elapsed
importing rows 150000 to 200000...Done. 26.360910177230835 total seconds elapsed
importing rows 200000 to 250000...Done. 33.41795110702515 total seconds elapsed
importing rows 250000 to 300000...Done. 40.38648819923401 total seconds elapsed
importing rows 300000 to 350000...Done. 47.20699119567871 total seconds elapsed
importing rows 350000 to 400000...Done. 53.98683500289917 total seconds elapsed
importing rows 400000 to 450000...Done. 60.98048114776611 total seconds elapsed
importing rows 450000 to 500000...Done. 67.88111114501953 total seconds elapsed
importing rows 500000 to 550000...Done. 75.25670409202576 total seconds elapsed
importing rows 550000 to 600000...Done. 82.26464414596558 total seconds elapsed
importing rows 600000 to 650000...Done. 90.36231303215027 total seconds elapsed
importing rows 650000 to 660148...Done. 91.72832798957825 total seconds elapsed

In [15]:
# Import sdss_dr_photobj dataframe to table
file_dir = '/Users/andreslesmes/Desktop/Data_Analysis_Class/NASA_Project/Resources'
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/sdss_dr_specobj.csv', chunksize=50000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='sdss_dr_specobj', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 50000...Done. 5.386918067932129 total seconds elapsed
importing rows 50000 to 100000...Done. 11.264458894729614 total seconds elapsed
importing rows 100000 to 150000...

DataError: (psycopg2.errors.NumericValueOutOfRange) bigint out of range

[SQL: INSERT INTO sdss_dr_specobj (index, objid_, specobjid_, class_, redshift_, plate_, mjd_, fiberid_) VALUES (%(index)s, %(objid_)s, %(specobjid_)s, %(class_)s, %(redshift_)s, %(plate_)s, %(mjd_)s, %(fiberid_)s)]
[parameters: ({'index': 100000, 'objid_': 1237671939259826453, 'specobjid_': 7650617243260874752, 'class_': 'GALAXY', 'redshift_': 0.3363488, 'plate_': 6795, 'mjd_': 56425, 'fiberid_': 463}, {'index': 100001, 'objid_': 1237671939259826454, 'specobjid_': 891854877574064128, 'class_': 'GALAXY', 'redshift_': 0.33332690000000004, 'plate_': 792, 'mjd_': 52353, 'fiberid_': 517}, {'index': 100002, 'objid_': 1237671939259826584, 'specobjid_': 7650620266917851136, 'class_': 'QSO', 'redshift_': 2.244035, 'plate_': 6795, 'mjd_': 56425, 'fiberid_': 474}, {'index': 100003, 'objid_': 1237671939259826712, 'specobjid_': 7649367098925969408, 'class_': 'GALAXY', 'redshift_': 0.4634636, 'plate_': 6794, 'mjd_': 56448, 'fiberid_': 11}, {'index': 100004, 'objid_': 1237671939259826720, 'specobjid_': 7650620541795758080, 'class_': 'GALAXY', 'redshift_': 0.46713059999999995, 'plate_': 6795, 'mjd_': 56425, 'fiberid_': 475}, {'index': 100005, 'objid_': 1237671939259826856, 'specobjid_': 7650618342772502528, 'class_': 'GALAXY', 'redshift_': 0.6226417, 'plate_': 6795, 'mjd_': 56425, 'fiberid_': 467}, {'index': 100006, 'objid_': 1237671939259891725, 'specobjid_': 7650621916185292800, 'class_': 'STAR', 'redshift_': -0.00010115430000000001, 'plate_': 6795, 'mjd_': 56425, 'fiberid_': 480}, {'index': 100007, 'objid_': 1237671939259891932, 'specobjid_': 7650621641307385856, 'class_': 'GALAXY', 'redshift_': 0.06542976, 'plate_': 6795, 'mjd_': 56425, 'fiberid_': 479}  ... displaying 10 of 50000 total bound parameter sets ...  {'index': 149998, 'objid_': 1237655108902980000, 'specobjid_': 862571307735214000, 'class_': 'GALAXY', 'redshift_': 0.08396645, 'plate_': 766, 'mjd_': 52247, 'fiberid_': 480}, {'index': 149999, 'objid_': 1237661384388580000, 'specobjid_': 9417053345645090000, 'class_': 'STAR', 'redshift_': -0.0001988688, 'plate_': 8364, 'mjd_': 58138, 'fiberid_': 96})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)