In [1]:
# Import Dependencies
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import psycopg2
import time
sdss_dr12 = pd.read_csv('../original_csv/SDSS_DR12.csv')
sdss_dr16 = pd.read_csv('../original_csv/SDSS_DR16.csv')

In [2]:
sdss_dr16_plus = pd.read_csv('../original_csv/SDSS_DR16_PLUS.csv', dtype = object, header=1)
sdss_dr16_plus.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237678877245244171,318.951692400613,9.31514583157475,19.51665,18.50036,17.95667,17.53139,17.32035,7777,301,5,53,819657923239110656,GALAXY,0.1142988,728,52520,10
1,1237668332026986542,217.940001459467,14.6083781640661,19.13548,18.55482,17.95603,17.68272,17.63717,5322,301,3,56,6154252554903769088,QSO,1.80268,5466,56033,304
2,1237664092899115053,129.94822076916,25.213328468992,19.54955,18.19434,17.8322,17.51329,17.47054,4335,301,3,130,2173034979993348096,GALAXY,0.07081252,1930,53347,175
3,1237654604252119048,160.357788413542,3.56788576904581,17.72343,16.6583,16.23667,16.07098,16.02797,2126,301,1,275,649647859372681216,STAR,0.000569611,577,52367,13
4,1237661360769400880,226.001699839166,38.6196988347261,16.605,15.66234,15.39406,15.29443,15.29302,3699,301,2,227,5817649714997514240,STAR,-0.000184329,5167,56066,454

In [3]:
# Drop the null rows
sdss_dr12 = sdss_dr12.dropna()
sdss_dr16 = sdss_dr16.dropna()
sdss_dr16_plus = sdss_dr16_plus.dropna()
sdss_dr16_plus[["objid", "ra", "dec", "u", "g", "r", "i", "z", "run", "rerun", "camcol", "field", "redshift", "plate", "mjd", "fiberid"]] = sdss_dr16_plus[["objid", "ra", "dec", "u", "g", "r", "i", "z", "run", "rerun", "camcol", "field", "redshift", "plate", "mjd", "fiberid"]].apply(pd.to_numeric)
sdss_dr16_plus.dtypes

objid          int64
ra           float64
dec          float64
u            float64
g            float64
r            float64
i            float64
z            float64
run            int64
rerun          int64
camcol         int64
field          int64
specobjid     object
class         object
redshift     float64
plate          int64
mjd            int64
fiberid        int64
dtype: object

In [4]:
sdss_dr16_plus.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237678877245244171,318.951692,9.315146,19.51665,18.50036,17.95667,17.53139,17.32035,7777,301,5,53,819657923239110656,GALAXY,0.114299,728,52520,10
1,1237668332026986542,217.940001,14.608378,19.13548,18.55482,17.95603,17.68272,17.63717,5322,301,3,56,6154252554903769088,QSO,1.802680,5466,56033,304
2,1237664092899115053,129.948221,25.213328,19.54955,18.19434,17.83220,17.51329,17.47054,4335,301,3,130,2173034979993348096,GALAXY,0.070813,1930,53347,175
3,1237654604252119048,160.357788,3.567886,17.72343,16.65830,16.23667,16.07098,16.02797,2126,301,1,275,649647859372681216,STAR,0.000570,577,52367,13
4,1237661360769400880,226.001700,38.619699,16.60500,15.66234,15.39406,15.29443,15.29302,3699,301,2,227,5817649714997514240,STAR,-0.000184,5167,56066,454

In [5]:
# Delete repeated rows
sdss_dr12 = sdss_dr12.drop_duplicates(subset=['objid'])
sdss_dr16 = sdss_dr16.drop_duplicates(subset=['objid'])
sdss_dr16_plus = sdss_dr16_plus.drop_duplicates(subset=['objid'])

In [6]:
# Change columns names
sdss_dr12 = sdss_dr12.rename(columns={'objid':'objid_','ra':'ra_','dec':'dec_','u':'u_','g':'g_','r':'r_','i':'i_','z':'z_','run':'run_','rerun':'rerun_','camcol':'camcol_','field':'field_','specobjid':'specobjid_','class':'class_','redshift':'redshift_','plate':'plate_','mjd':'mjd_','fiberid':'fiberid_'})
sdss_dr16 = sdss_dr16.rename(columns={'objid':'objid_','ra':'ra_','dec':'dec_','u':'u_','g':'g_','r':'r_','i':'i_','z':'z_','run':'run_','rerun':'rerun_','camcol':'camcol_','field':'field_','specobjid':'specobjid_','class':'class_','redshift':'redshift_','plate':'plate_','mjd':'mjd_','fiberid':'fiberid_'})
sdss_dr16_plus = sdss_dr16_plus.rename(columns={'objid':'objid_','ra':'ra_','dec':'dec_','u':'u_','g':'g_','r':'r_','i':'i_','z':'z_','run':'run_','rerun':'rerun_','camcol':'camcol_','field':'field_','specobjid':'specobjid_','class':'class_','redshift':'redshift_','plate':'plate_','mjd':'mjd_','fiberid':'fiberid_'})
sdss_dr16_plus.count()

objid_        499989
ra_           499989
dec_          499989
u_            499989
g_            499989
r_            499989
i_            499989
z_            499989
run_          499989
rerun_        499989
camcol_       499989
field_        499989
specobjid_    499989
class_        499989
redshift_     499989
plate_        499989
mjd_          499989
fiberid_      499989
dtype: int64

In [7]:
# Combine DataFrames
frames = [ sdss_dr12, sdss_dr16, sdss_dr16_plus]
sdss_dr_final = pd.concat(frames)

In [8]:
# Delete repeated rows
sdss_dr_final = sdss_dr_final.drop_duplicates(subset=['objid_'])

In [9]:
# Create two DataFrames by separating columns
sdss_dr_photobj = sdss_dr_final[['objid_','ra_','dec_', 'u_', 'g_', 'r_', 'i_', 'z_', 'run_', 'rerun_', 'camcol_', 'field_']]
sdss_dr_specobj = sdss_dr_final[['objid_', 'class_', 'redshift_', 'plate_', 'mjd_', 'fiberid_']]
sdss_dr_specobj.head()

                objid_ class_  redshift_  plate_   mjd_  fiberid_
0  1237663228535374206   STAR  -0.000220    1660  53230       268
1  1237663228535374382   STAR  -0.000008    1660  53230       274
2  1237663228535374435   STAR   0.000096    1660  53230       267
3  1237663228535374802   STAR  -0.000247    1661  53240       293
4  1237663228535439577   STAR  -0.000131    1660  53230       287

In [10]:
# Export DataFrames to csv file
sdss_dr_photobj.to_csv(path_or_buf='Resources/sdss_dr_photobj.csv', index=False)
sdss_dr_specobj.to_csv(path_or_buf='Resources/sdss_dr_specobj.csv', index=False)

In [11]:
# Create engine to connect to Database
db_string = f"postgres://postgres:{db_password}@localhost/Final_Project"
engine = create_engine(db_string)

In [12]:
# Import sdss_dr_photobj dataframe to table
file_dir = '/Users/andreslesmes/Desktop/Data_Analysis_Class/NASA_Project/Resources'
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/sdss_dr_photobj.csv', chunksize=50000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='sdss_dr_photobj', con=engine, index = False, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 50000...Done. 6.576388835906982 total seconds elapsed
importing rows 50000 to 100000...Done. 13.001731872558594 total seconds elapsed
importing rows 100000 to 150000...Done. 19.96185278892517 total seconds elapsed
importing rows 150000 to 200000...Done. 26.206270933151245 total seconds elapsed
importing rows 200000 to 250000...Done. 32.73759078979492 total seconds elapsed
importing rows 250000 to 300000...Done. 38.81856894493103 total seconds elapsed
importing rows 300000 to 350000...Done. 44.983964920043945 total seconds elapsed
importing rows 350000 to 400000...Done. 51.92021298408508 total seconds elapsed
importing rows 400000 to 450000...Done. 59.29285192489624 total seconds elapsed
importing rows 450000 to 500000...Done. 66.43299198150635 total seconds elapsed
importing rows 500000 to 550000...Done. 77.17421078681946 total seconds elapsed
importing rows 550000 to 600000...Done. 84.8710069656372 total seconds elapsed
importing rows 600000 to 650000...Done. 92.45385599136353 total seconds elapsed
importing rows 650000 to 660148...Done. 94.0302426815033 total seconds elapsed

In [13]:
# Import sdss_dr_photobj dataframe to table
file_dir = '/Users/andreslesmes/Desktop/Data_Analysis_Class/NASA_Project/Resources'
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/sdss_dr_specobj.csv', chunksize=50000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='sdss_dr_specobj', con=engine, index = False, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 50000...Done. 5.338750839233398 total seconds elapsed
importing rows 50000 to 100000...Done. 13.961618900299072 total seconds elapsed
importing rows 100000 to 150000...Done. 23.482614994049072 total seconds elapsed
importing rows 150000 to 200000...Done. 32.298871994018555 total seconds elapsed
importing rows 200000 to 250000...Done. 39.935898780822754 total seconds elapsed
importing rows 250000 to 300000...Done. 47.65341305732727 total seconds elapsed
importing rows 300000 to 350000...Done. 55.194814920425415 total seconds elapsed
importing rows 350000 to 400000...Done. 62.529329776763916 total seconds elapsed
importing rows 400000 to 450000...Done. 69.57802104949951 total seconds elapsed
importing rows 450000 to 500000...Done. 77.35932898521423 total seconds elapsed
importing rows 500000 to 550000...Done. 82.5568618774414 total seconds elapsed
importing rows 550000 to 600000...Done. 87.55872392654419 total seconds elapsed
importing rows 600000 to 650000...Done. 93.38758397102356 total seconds elapsed
importing rows 650000 to 660148...Done. 94.58010077476501 total seconds elapsed