In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

# Loading files

DR12 = pd.read_csv("../Resources/Sloan_Digital_Sky_Survey_DR12.csv")
DR14 = pd.read_csv("../Resources/Sloan_Digital_Sky_Survey_DR14.csv")
DR16 = pd.read_csv("../Resources/Sloan_Digital_Sky_Survey_DR16.csv")

In [2]:
DR12_df = DR12.set_index(['objid'])
DR12_df.head()

,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
objid,,,,,,,,,,,,,,,,,
1237663228535374206,300.841762,76.511282,19.19619,17.83329,17.52225,17.40237,17.35182,4134,301,1,106,1869067566828251136,STAR,-0.000220,1660,53230,268
1237663228535374382,300.730508,76.551731,21.65541,19.13715,17.92577,17.44741,17.15818,4134,301,1,106,1869069216095692800,STAR,-0.000008,1660,53230,274
1237663228535374435,300.871382,76.530570,20.70867,19.20954,18.55966,18.24395,18.10117,4134,301,1,106,1869067291950344192,STAR,0.000096,1660,53230,267
1237663228535374802,300.317409,76.374746,22.88806,21.20900,19.90560,19.33555,19.08966,4134,301,1,106,1870200338850539520,STAR,-0.000247,1661,53240,293
1237663228535439577,301.252332,76.319520,17.82932,16.11081,15.39808,15.13612,15.00507,4134,301,1,107,1869072789508483072,STAR,-0.000131,1660,53230,287

In [3]:
DR14_df = DR14.set_index(['objid'])
DR14_df.head()

,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
objid,,,,,,,,,,,,,,,,,
1.237650e+18,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3.722360e+18,STAR,-0.000009,3306,54922,491
1.237650e+18,183.598371,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,3.638140e+17,STAR,-0.000055,323,51615,541
1.237650e+18,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,3.232740e+17,GALAXY,0.123111,287,52023,513
1.237650e+18,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3.722370e+18,STAR,-0.000111,3306,54922,510
1.237650e+18,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3.722370e+18,STAR,0.000590,3306,54922,512

In [4]:
DR16_df = DR16.set_index(['objid'])
DR16_df.head()

,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
objid,,,,,,,,,,,,,,,,,
1237666301628060000,47.372545,0.820621,18.69254,17.13867,16.55555,16.34662,16.17639,4849,301,5,771,8168632633242440000,STAR,0.000115,7255,56597,832
1237673706652430000,116.303083,42.455980,18.47633,17.30546,17.24116,17.32780,17.37114,6573,301,6,220,9333948945297330000,STAR,-0.000093,8290,57364,868
1237671126974140000,172.756623,-8.785698,16.47714,15.31072,15.55971,15.72207,15.82471,5973,301,1,13,3221211255238850000,STAR,0.000165,2861,54583,42
1237665441518260000,201.224207,28.771290,18.63561,16.88346,16.09825,15.70987,15.43491,4649,301,3,121,2254061292459420000,GALAXY,0.058155,2002,53471,35
1237665441522840000,212.817222,26.625225,18.88325,17.87948,17.47037,17.17441,17.05235,4649,301,3,191,2390305906828010000,GALAXY,0.072210,2123,53793,74

In [5]:
three_dfs = [DR12_df, DR14_df, DR16_df]
DR_df = pd.concat(three_dfs)
DR_df

,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
objid,,,,,,,,,,,,,,,,,
1.237663e+18,300.841762,76.511282,19.19619,17.83329,17.52225,17.40237,17.35182,4134,301,1,106,1.869068e+18,STAR,-0.000220,1660,53230,268
1.237663e+18,300.730508,76.551731,21.65541,19.13715,17.92577,17.44741,17.15818,4134,301,1,106,1.869069e+18,STAR,-0.000008,1660,53230,274
1.237663e+18,300.871382,76.530570,20.70867,19.20954,18.55966,18.24395,18.10117,4134,301,1,106,1.869067e+18,STAR,0.000096,1660,53230,267
1.237663e+18,300.317409,76.374746,22.88806,21.20900,19.90560,19.33555,19.08966,4134,301,1,106,1.870200e+18,STAR,-0.000247,1661,53240,293
1.237663e+18,301.252332,76.319520,17.82932,16.11081,15.39808,15.13612,15.00507,4134,301,1,107,1.869073e+18,STAR,-0.000131,1660,53230,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.237668e+18,228.674917,19.179460,19.32631,18.82748,18.65659,18.60481,18.60917,5237,301,5,134,4.448615e+18,QSO,0.438182,3951,55681,672
1.237665e+18,173.757382,36.441603,18.33687,17.30365,17.16037,17.14895,17.14419,4504,301,2,111,2.265404e+18,STAR,-0.000497,2012,53493,340
1.237664e+18,205.426531,38.499053,17.50690,15.63152,15.22328,15.04469,15.28668,4382,301,4,97,2.257446e+18,GALAXY,0.004587,2005,53472,62
1.237657e+18,337.135144,-9.635967,19.33946,17.21436,16.29697,15.86745,15.51556,2576,301,2,105,8.118475e+17,GALAXY,0.084538,721,52228,268
1.237670e+18,37.440188,25.400888,18.11769,16.86279,16.31057,16.07582,15.94701,5817,301,5,120,2.678586e+18,STAR,-0.000085,2379,53762,255

In [6]:
DR_df = DR_df.dropna(axis='rows')
DR_df

,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
objid,,,,,,,,,,,,,,,,,
1.237663e+18,300.841762,76.511282,19.19619,17.83329,17.52225,17.40237,17.35182,4134,301,1,106,1.869068e+18,STAR,-0.000220,1660,53230,268
1.237663e+18,300.730508,76.551731,21.65541,19.13715,17.92577,17.44741,17.15818,4134,301,1,106,1.869069e+18,STAR,-0.000008,1660,53230,274
1.237663e+18,300.871382,76.530570,20.70867,19.20954,18.55966,18.24395,18.10117,4134,301,1,106,1.869067e+18,STAR,0.000096,1660,53230,267
1.237663e+18,300.317409,76.374746,22.88806,21.20900,19.90560,19.33555,19.08966,4134,301,1,106,1.870200e+18,STAR,-0.000247,1661,53240,293
1.237663e+18,301.252332,76.319520,17.82932,16.11081,15.39808,15.13612,15.00507,4134,301,1,107,1.869073e+18,STAR,-0.000131,1660,53230,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.237668e+18,228.674917,19.179460,19.32631,18.82748,18.65659,18.60481,18.60917,5237,301,5,134,4.448615e+18,QSO,0.438182,3951,55681,672
1.237665e+18,173.757382,36.441603,18.33687,17.30365,17.16037,17.14895,17.14419,4504,301,2,111,2.265404e+18,STAR,-0.000497,2012,53493,340
1.237664e+18,205.426531,38.499053,17.50690,15.63152,15.22328,15.04469,15.28668,4382,301,4,97,2.257446e+18,GALAXY,0.004587,2005,53472,62
1.237657e+18,337.135144,-9.635967,19.33946,17.21436,16.29697,15.86745,15.51556,2576,301,2,105,8.118475e+17,GALAXY,0.084538,721,52228,268
1.237670e+18,37.440188,25.400888,18.11769,16.86279,16.31057,16.07582,15.94701,5817,301,5,120,2.678586e+18,STAR,-0.000085,2379,53762,255

In [7]:
path = "../Resources"
DR_df.to_csv(os.path.join(path,r'DR_complete.csv'))

In [8]:
# Start SQL Engine
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/DR_complete_NASA"
engine = create_engine(db_string)


path = "../Resources/DR_complete.csv"

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv(path, chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='DR_complete_NASA', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 218070...Done. 39.103604555130005 total seconds elapsed